#footer {
    background-color: black;
    color: white;
    height: 200px;
    display: flex;
    white-space: nowrap;
}

#footer div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#link {
    text-decoration: none;
    color: white;
}

i {
    font-size: 20px;
}